@model IEnumerable<MinPro180.ViewModel.ClassViewModel>

<table class="table">
    <tr>
        <td colspan="2">@Html.TextBox("name", "", new { @class = "form-control", @placeholder = "Search by Batch" })</td>
        <td>
            <button type="button" id="btn-new" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.batchtech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bioname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.batchtech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bioname)
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-deact" data-id="@item.id" title="Deactive">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }

</table>
