@model IEnumerable<MinPro180.ViewModel.MonitoringViewModel>


<table class="table">

	<tr>
		<th>
			@Html.DisplayNameFor(model => model.biodata_id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.idle_date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.placement_date)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.bio_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.idle_date)
			</td>

			<td>
				@if (String.IsNullOrEmpty(item.placement_at))
				{

					
				}
				 else
				{
					@Html.DisplayFor(modelItem => item.placement_date);
				}
				
			</td>


			<td>

				<div class="dropdown">
					<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						@*<span class="caret"></span>*@
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li class="li-Edit" data-id="@item.id"><a href="#">Edit</a></li>
						<li class="li-Place" data-id="@item.id"><a href="#">Placement</a></li>
						<li class="li-Delete" data-id="@item.id"><a href="#">Delete</a></li>
					</ul>
				</div>
			</td>
		</tr>
	}

</table>
<script type="text/javascript">

 

	 $(".li-Edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Monitoring")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit Idle");
                $(".modal-body").html(result);
                $(".modal").modal("show");

            }
        });

	})
		 $(".li-Place").click(function () {
        $.ajax({
            url: '@Url.Action("Placement", "Monitoring")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Input Placement");
                $(".modal-body").html(result);
                $(".modal").modal("show");

            }
        });

    })
	 $(".li-Delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Monitoring")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Delete Idle");
                $(".modal-body").html(result);
                $(".modal").modal("show");

            }
        });

    })

</script>
