@model IEnumerable<MinPro180.ViewModel.TestViewModel>

<table class="table">
    <tr>
        <td colspan="3">
            <input type="text" class="form-control" id="cari" name="cari" placeholder="Search by Name" />
        </td>
        <td>
            <button type="button" id="btn-new" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.created_by</td>
            <td>@item.status</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-warning dropdown-toggle" id="dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-btn">
                        <li class="li-Edit btn-edit" data-id="@item.id" title="Edit">
                            <a href="#">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="li-Deactivate btn-deact" data-id="@item.id" title="Deactivate">
                            <a href="#">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $("#btn-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Test")',
                type: 'get',
                success: function (result) {
                $(".modal-title").html("Create New Test");
                $(".modal-body").html(result);
                $(".modal").modal("show"); //class modal ditampilkan
                },
                error: function (err) {
                alert(err);
                }
            });
    });

    $(".btn-src").click(function () {
            $.ajax({
                url: '@Url.Action("List", "Test")',
                type: 'get',
                data: {search: $("#txt").val()},
                success: function (result) {
                    GetList();
                }
            });
    });
</script>
